.current-price {
	font-size: 20px;
}

.responsive{
	width: 40%;
	max-width: 40px;
	height: auto;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 80%;
}

.mynav {
	border-radius: 0px;
	border-color: #222;
}

body {
	background-color: #f8f8f8;
}