{% load static %}

{% url 'home' as home_url %}
{% url 'contact' as contact_url %}
{% url 'ecom_product:list' as ecomproduct_url %}
{% url 'login' as login_url %}
{% url 'register' as register_url %}

<!DOCTYPE html>

<html>

<head>
    {% block someheader %}{% endblock %}
    <title>
        {% if title %}
        Trading App - {{ title }}
        {% else %}
        Trading App
        {% endif %}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'radarcxapp/CSS/override.css' %}">

    <link rel="manifest" href="/manifest.json">

    {% if user.is_authenticated %}
    <!-- Najva Push Notification -->
    <script type="text/javascript">
        (function () {
            var now = new Date();
            var version = now.getFullYear().toString() + "0" + now.getMonth() + "0" + now.getDate() +
                "0" + now.getHours();
            var head = document.getElementsByTagName("head")[0];
            var link = document.createElement("link");
            link.rel = "stylesheet";
            link.href = "https://app.najva.com/static/css/local-messaging.css" + "?v=" + version;
            head.appendChild(link);
            var script = document.createElement("script");
            script.type = "text/javascript";
            script.async = true;
            script.src = "https://app.najva.com/static/js/scripts/herokuapp716-website-25701-9e48e9f0-41e1-4f0a-a3d0-dd34b8313f03.js" + "?v=" + version;
            head.appendChild(script);
        })()
    </script>
    <!-- END NAJVA PUSH NOTIFICATION -->

    <!-- User-specific tokens -->
    <script>
        window.najvaUserSubscribed = function (najva_user_token) {
            var xhr = new XMLHttpRequest();
            xhr.open("GET", 'https://radarcx.herokuapp.com/najva-token', true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");
            xhr.setRequestHeader("najva-token", najva_user_token);
            xhr.send();
        }
    </script>
    <!-- End -->
    {% endif %}
</head>

<body class="mybody">

    <nav class="navbar sticky-top navbar-inverse mynav">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'coins' %}"><span class="glyphicon glyphicon-bitcoin"> Trader-App</a>
            </div>

            <ul class="nav navbar-nav">
                <li {% if request.resolver_match.url_name == 'home' or request.resolver_match.url_name == 'coins' %}class="active"{% endif %}>
                    <a href="{% url 'coins' %}">
                        Coins
                    </a>
                </li>
                {% if user.is_authenticated %}
                <li {% if request.resolver_match.url_name == 'conditions' %}class="active"{% endif %}>
                    <a href="{% url 'conditions' %}">
                        Conditions
                    </a>
                </li>
                {% endif %}
                <li {% if request.resolver_match.url_name == 'signals' %}class="active"{% endif %}>
                    <a href="{% url 'signals' %}">
                        Signals
                    </a>
                </li>
                <li><a href="#">About</a></li>
            </ul>
    
            <ul class="nav navbar-nav navbar-right">
    
                {% if user.is_authenticated %}
                <li {% if request.resolver_match.url_name == 'profile' %}class="active"{% endif %}>
                    <a class="nav-item nav-link" href="{% url 'profile' %}"><span class="glyphicon glyphicon-user"> Profile</a>
                </li>
                <li>
                    <a class="nav-item nav-link" href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"> Logout</a>
                </li>
                {% else %}
                <li {% if request.resolver_match.url_name == 'register' %}class="active"{% endif %}>
                    <a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"> Register</a>
                </li>
                <li {% if request.resolver_match.url_name == 'login' %}class="active"{% endif %}>
                    <a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"> Login</a>
                </li>
                {% endif %}
    
            </ul>
        </div>
    </nav>

    <center>
        {% block dbody %}{% endblock %}
    </center>
</body>

</html>