{% extends "layout.html" %} {% load static %} {% block someheader %}


{% endblock %} {% block dbody %}
<div class="my-3 p-4 bg-white rounded">
<div class="mybody" align="center">
<h2>About the project</h2>
<p>This website is meant to be the portal to traders and investing companies for entering into the word of cryptocurrencies.
 We are still at the early stage and there is a long way to go with each other.
 As the ultimate goal of this decentralized system is to uplift current monetary system, we are also dedicated ourselves to accelerate it.
 For comming to this world,Bitcoin has not asked for a permission. And we don't ask the old system for a permission either.
 We are here to stay, we are here to make the world better!</p>


<h2>About us</h2>
<p>We are a group of Computer scientists that are aiming to help people trade and use cryptocurrencies on the daily bases with a remarkable ease.
<br>This project has been started on 2020.


<h2>Support this project</h2>
<p>Address of Bitcoin on network Btc SegWit: bc1qfp9gc2tsqldc3gvyrex3rksjynkn5t59ejc9t3 </p>
<p>Address of Ethereum:</p>
<p>Address of Tron:</p>
<p>Address of LitCoin:</p>
</div>
</div>
{% endblock %}
