{% extends "layout.html" %} {% load static %} {% block someheader %}


{% endblock %} {% block dbody %}

<p>About the project:</p>
<p>This website is meant to be the portal to traders and investing companies for entering into the word of cryptocurrencies.</p>
<p>We are still at the early stage and there is a long way to go with each other.</p>
<p>As the ultimate goal of this decentralized system is to uplift current monetary system, we are also dedicated ourselves to accelerate it.</p>
<p>For comming to this world,Bitcoin has not asked for a permission. And we don't ask the old system for a permission either.</p>
<p>We are here to stay, we are here to make the world better!</p>
<p>About us:</p>
<p>We are a group of Computer scientists that are aiming to help people trade and use cryptocurrencies on the daily bases with a remarkable ease.</p>
<p>This project has been started on 2020.</p>
<p>Suppot this project</p>
<p>Address of Bitcoin on network Btc SegWit: bc1qfp9gc2tsqldc3gvyrex3rksjynkn5t59ejc9t3 </p>
<p>Address of Ethereum:</p>
<p>Address of Tron:</p>
<p>Address of LitCoin:</p>
{% endblock %}
