{% extends "layout.html" %} {% load static %} {% block title %} - Coins{% endblock %} {% block someheader %}


<script>
    window.najvaUserSubscribed = function(najva_user_token) {
        // you have user specific najva_user_token, add your logic here
    }
</script>


<link rel="manifest" href="/manifest.json"> {% if user.is_authenticated %}
<!-- Najva Push Notification -->
<script type="text/javascript">
    (function() {
        var now = new Date();
        var version = now.getFullYear().toString() + "0" + now.getMonth() + "0" + now.getDate() +
            "0" + now.getHours();
        var head = document.getElementsByTagName("head")[0];
        var link = document.createElement("link");
        link.rel = "stylesheet";
        link.href = "https://app.najva.com/static/css/local-messaging.css" + "?v=" + version;
        head.appendChild(link);
        var script = document.createElement("script");
        script.type = "text/javascript";
        script.async = true;
        script.src = "https://app.najva.com/static/js/scripts/herokuapp716-website-25701-9e48e9f0-41e1-4f0a-a3d0-dd34b8313f03.js" + "?v=" + version;
        head.appendChild(script);
    })()
</script>
<!-- END NAJVA PUSH NOTIFICATION -->

<!-- User-specific tokens -->
<script>
    window.najvaUserSubscribed = function(najva_user_token) {
        // you have user specific najva_user_token, add your logic here
        var body = document.getElementsByTagName("body")[0];
        console.log(najva_user_token)
    }
</script>
<!-- End -->
{% endif %} {% endblock %} {% block dbody %}

<nav class="navbar sticky-top navbar-inverse mynav">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-bitcoin"> Trader-App</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'coins' %}">Coins</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'conditions' %}">Conditions</a></li>{% endif %}
            <li><a href="#">About</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">

            {% if user.is_authenticated %}
            <li><a class="nav-item nav-link" href="{% url 'profile' %}"><span class="glyphicon glyphicon-user"> Profile</a>
            </li>
            <li><a class="nav-item nav-link" href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"> Logout</a>
            </li>
            {% else %}
            <li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"> Register</a></li>
            <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"> Login</a></li>
            {% endif %}

        </ul>
    </div>
</nav>

<div class="dynamic-body">


    <center>
        <table class="table table-striped table-bordered mydatatable" style="width: 80%">
            <tr>
                <th>Coin</th>
                <th>Current Price</th>
                <th>Old Price</th>
                <th>Status</th>
            </tr>

            <tr>
                <td>
                    <img src="{% static 'radarcxapp/img/coins/bitcoin-btc-logo.png' %}" class="responsive">
                </td>
                <td>
                    <span id="BTC-USD"></span>
                </td>
                <td>
                    <span id="BTC-USD-old"></span>
                </td>
                <td id="BTC-USD-pstat">
                    <img src="" id="BTC-USD-stat" class="responsive">
                </td>
            </tr>

            <tr>
                <td>
                    <img src="{% static 'radarcxapp/img/coins/ethereum-eth-logo.png' %}" class="responsive">
                </td>
                <td>
                    <span id="ETH-USD"></span>
                </td>
                <td>
                    <span id="ETH-USD-old"></span>
                </td>
                <td id="ETH-USD-pstat">
                    <img src="" id="ETH-USD-stat" class="responsive">
                </td>
            </tr>

            <tr>
                <td>
                    <img src="{% static 'radarcxapp/img/coins/litecoin-ltc-logo.png' %}" class="responsive">
                </td>
                <td>
                    <span id="LTC-USD"></span>
                </td>
                <td>
                    <span id="LTC-USD-old"></span>
                </td>
                <td id="LTC-USD-pstat">
                    <img src="" id="LTC-USD-stat" class="responsive">
                </td>
            </tr>

            <tr>
                <td>
                    <img src="{% static 'radarcxapp/img/coins/xrp-xrp-logo.png' %}" class="responsive">
                </td>
                <td>
                    <span id="XRP-USD"></span>
                </td>
                <td>
                    <span id="XRP-USD-old"></span>
                </td>
                <td id="XRP-USD-pstat">
                    <img src="" id="XRP-USD-stat" class="responsive">
                </td>
            </tr>

            {% for coin in coins %}
            <tr>
                <td>
                    <span> {{ coin.name }}
                </td>
                <td>
                    <span> {{ coin.realtime_price }} </span>
                </td>
                <td>
                    <span></span>
                </td>
                <td>
                    <img>
                </td>
            </tr>
            {% endfor %}

        </table>

    </center>

</div>

<script>
    setInterval(getCoin, 2000, "BTC", "USD");
    setInterval(getCoin, 2000, "ETH", "USD");
    setInterval(getCoin, 2000, "XRP", "USD");
    setInterval(getCoin, 2000, "LTC", "USD");
    async function getCoin(coin1, coin2) {
        const api_url = 'https://min-api.cryptocompare.com/data/price?fsym=' + coin1 + '&tsyms=' + coin2
        const response = await fetch(api_url);
        const data = await response.json();
        const {
            USD
        } = data;
        var newPrice = USD;
        var oldPrice = document.getElementById(coin1 + '-' + coin2).textContent;
        document.getElementById(coin1 + '-' + coin2 + '-old').textContent = oldPrice;
        document.getElementById(coin1 + '-' + coin2).textContent = newPrice;
        var img = document.createElement("img");

        if (newPrice > oldPrice) {
            img.src = "{% static 'radarcxapp/img/diff/gain.png' %}";
        } else if (newPrice < oldPrice) {
            img.src = "{% static 'radarcxapp/img/diff/loss.png' %}";
        } else {
            img.src = "{% static 'radarcxapp/img/diff/court.png' %}";
        }
        img.setAttribute("id", coin1 + '-' + coin2 + '-stat')
        img.setAttribute("width", "30")
        img.setAttribute("height", "30")
        var parent = document.getElementById(coin1 + '-' + coin2 + '-pstat');
        parent.replaceChild(img, parent.childNodes[1]);
    }
</script>
{% endblock %}