{% extends "layout.html" %} {% load static %} {% block someheader %}


{% endblock %} {% block dbody %}

<nav class="navbar sticky-top navbar-inverse mynav">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-bitcoin"> Trader-App</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'coins' %}">Coins</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'conditions' %}">Conditions</a></li>{% endif %}
            <li><a href="{% url 'signals' %}">Signals</a></li>
            <li><a href="#">About</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">

            {% if user.is_authenticated %}
            <li><a class="nav-item nav-link" href="{% url 'profile' %}"><span class="glyphicon glyphicon-user"> Profile</a>
            </li>
            <li><a class="nav-item nav-link" href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"> Logout</a>
            </li>
            {% else %}
            <li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"> Register</a></li>
            <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"> Login</a></li>
            {% endif %}

        </ul>
    </div>
</nav>

<div class="dynamic-body">


    <center>
        <table class="table table-striped table-bordered mydatatable" style="width: 80%">


            {% if user.is_authenticated %}

			{% for coin in coins %}
            <tr>
                <td>
                    <!--<img src={% static 'radarcxapp/img/coins/BTC.png' %} class="responsive">-->
                    <p>{{coin.favorite_coin.name}} </p>
                </td>
                <td>
                    <span id={{ coin.favorite_coin.name|add:"-USD"}}></span>
                </td>
                <td>
                    <span id={{ coin.favorite_coin.name|add:"-USD-old"}}></span>
                </td>
                <td id={{ coin.favorite_coin.name|add:"-USD-pstat"}}>
                    <img src="" id={{ coin.favorite_coin.name|add:"-USD-stat"}} class="responsive">
                </td>
				<td>
					<center>
						<button type="button" class="deletebutton">Delete row</button>
					</center>
				</td>
            </tr>
            
			{% endfor %} 
			
					<label for="coin">Coin</label>
					<select id="coin" name="coin">
					{% for coin in all_coins %}
						<option value={{ coin.name }}>{{ coin.name }}</option>
					{% endfor %}
					</select>
					<input class="submit" type="submit" id="submit" value="Add coin to the list">
					
			{% else %} 
			
			{% for coin in coins %}
            <tr>
                <td>
                    <img src="" id={{ coin|add:"-logo"}} class="responsive">
                    <p>{{coin}} </p>
                </td>
                <td>
                    <span id={{ coin|add:"-USD"}}></span>
                </td>
                <td>
                    <span id={{ coin|add:"-USD-old"}}></span>
                </td>
                <td id={{ coin|add:"-USD-pstat"}}>
                    <img src="" id={{ coin|add:"-USD-stat"}} class="responsive">
                </td>
            </tr>
            {% endfor %} 
			
			{% endif %}
			
        </table>


    </center>

</div>

<script>
    setInterval(getCoin, 2000, "BTC", "USD");
    setInterval(getCoin, 2000, "ETH", "USD");
    setInterval(getCoin, 2000, "XRP", "USD");
    setInterval(getCoin, 2000, "LTC", "USD");
    async function getCoin(coin1, coin2) {
        const api_url = 'https://min-api.cryptocompare.com/data/price?fsym=' + coin1 + '&tsyms=' + coin2
        const response = await fetch(api_url);
        const data = await response.json();
        const {
            USD
        } = data;
        var newPrice = USD;
        var oldPrice = document.getElementById(coin1 + '-' + coin2).textContent;
        document.getElementById(coin1 + '-' + coin2 + '-old').textContent = oldPrice;
        document.getElementById(coin1 + '-' + coin2).textContent = newPrice;
		var logo = document.getElementById(coin1 + '-logo');
			logo.src = `{% static 'radarcxapp/img/coins/${coin1}.png' %}`;
			logo.setAttribute("id", coin1 + '-logo')
        var imgdiff = document.createElement("img");

        if (newPrice > oldPrice) {
            imgdiff.src = "{% static 'radarcxapp/img/diff/gain.png' %}";
        } else if (newPrice < oldPrice) {
            imgdiff.src = "{% static 'radarcxapp/img/diff/loss.png' %}";
        } else {
            imgdiff.src = "{% static 'radarcxapp/img/diff/court.png' %}";
        }
        imgdiff.setAttribute("id", coin1 + '-' + coin2 + '-stat')
        imgdiff.setAttribute("width", "30")
        imgdiff.setAttribute("height", "30")
        var parent = document.getElementById(coin1 + '-' + coin2 + '-pstat');
        parent.replaceChild(imgdiff, parent.childNodes[1]);
    }
</script>
{% endblock %}
