{% extends "layout.html" %}

{% block dbody %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
  {{ message }}
</div>
{% endfor %}
{% endif %}

<div class="container">
  <form action="/new_cond" method="POST">{% csrf_token %}
    <label for="cond_name">Name (optional):</label>
    <input type="text" id="cond_name" name="cond_name">

    <br><br>

    <label for="cond_type">IF</label>
    <select id="cond_type" name="cond_type">
      <option value="realtime">Realtime Price</option>
      <option value="volume">Volume</option>
      <option value="maverage">Moving Average</option>
    </select>
    <br>
    <label for="coin">FOR</label>
    <select id="coin" name="coin">
      <option value="BTC">BTC</option>
      <option value="XRP">XRP</option>
      <option value="LTC">LTC</option>
    </select>
    <br>
    <label for="trigger">BECOMES</label>
    <select id="trigger" name="trigger">
      <option value="g">greater than</option>
      <option value="s">smaller than</option>
    </select>
    <br>
    <input type="number" id="amount" name="amount">
    <label>$, NOTIFY ME!</label>
    <br>
    <input class="submit" type="submit" id="submit" value="Add condition">

  </form>
</div>
{% for condition in conditions %}
<article class="media content-section">
  <!-- <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}"> -->
  <div class="media-body">
    <div class="article-metadata">
      <!-- <a class="mr-2" href="#">{{ .author }}</a> -->
      <!-- <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small> -->
    </div>
    <h2><a class="article-title" href="">{{ condition }}</a></h2>
    <!-- <p class="article-content">{{ post.content }}</p> -->
  </div>
</article>
{% endfor %}
{% endblock %}