{% extends "layout.html" %} {% load static %} {% block someheader %}


{% endblock %} {% block dbody %}

<!--<img src="https://alternative.me/crypto/fear-and-greed-index.png" alt="Latest Crypto Fear & Greed Index" />
<p>
    When everyone has panicked, It's generally an opportunity for buy, and when market is in greed and extreme greed mode you are adviced to close your long possitions.
</p>-->

<div class="container">
<div class="row clearfix">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="boxs project_widget">
                 <div class="pw_img">
                    <img class="img-responsive" src="https://via.placeholder.com/280x280/FFB6C1/000000" alt="About the image">
                </div>
                <div class="pw_content">
                    <div class="pw_header">
                        <a class="text-muted" href="{% url 'coins' %}">Coins</a>
                        <small class="text-muted">Falcon  |  Last Update: 12 Dec 2017</small>
                    </div>
                    <div class="pw_meta">
                        <span>4,870 USD</span>
                        <small class="text-muted">Budget / Salary</small>
                        <small class="text-danger">17 Days Remaining</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="boxs project_widget">
                <div class="pw_img">
                    <img class="img-responsive" src="https://via.placeholder.com/280x280/87CEFA/000000" alt="About the image">
                </div>                            
                <div class="pw_content">
                    <div class="pw_header">
                        <a class="text-muted" href="{% url 'coins' %}">Coins</a>
                        <small class="text-muted">Falcon  |  Last Update: 17 Dec 2017</small>
                    </div>
                    <div class="pw_meta">
                        <span>921 USD</span>
                        <small class="text-muted">Budget / Salary</small>
                        <small class="text-success">Early Dec 2017</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="boxs project_widget">
                 <div class="pw_img">
                    <img class="img-responsive" src="https://via.placeholder.com/280x280/FF7F50/000000" alt="About the image">
                </div>
                <div class="pw_content">
                    <div class="pw_header">
                        <a class="text-muted" href="{% url 'coins' %}">Coins</a>
                        <small class="text-muted">Falcon  |  Last Update: 21 Dec 2017</small>
                    </div>
                    <div class="pw_meta">
                        <span>1,870 USD</span>
                        <small class="text-muted">Budget / Salary</small>
                        <small class="text-danger">10 Days Remaining</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="boxs project_widget">
                 <div class="pw_img">
                    <img class="img-responsive" src="https://via.placeholder.com/280x280/20B2AA/000000" alt="About the image">
                </div>
                <div class="pw_content">
                    <div class="pw_header">
                        <a class="text-muted" href="{% url 'coins' %}">Coins</a>
                        <small class="text-muted">Falcon  |  Last Update: 28 Dec 2017</small>
                    </div>
                    <div class="pw_meta">
                        <span>870 USD</span>
                        <small class="text-muted">Budget / Salary</small>
                        <small class="text-warning">6 Days Remaining</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
