{% extends "layout.html" %} {% load static %} {% block someheader %}


{% endblock %} {% block dbody %}

<iframe style="max-width: 956; max-height: 538;" width="99%" height="99%" src="https://www.youtube.com/embed/DyV0OfU3-FU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>Key events of popular companies, cryptocurrencies and other assets. </p>

<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com" rel="noopener" target="_blank"><span class="blue-text"> History</span></a> by TradingView</div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-timeline.js" async>
  {
  "autosize": true
  "colorTheme": "light",
  "isTransparent": false,
  "displayMode": "regular",
  "locale": "en"
}
  </script>




</div>
<!-- TradingView Widget END -->
{% endblock %}
