{% extends "layout.html" %} {% load static %} {% block someheader %}


{% endblock %} {% block dbody %}
<div class="my-3 p-4 bg-white rounded">
    <center>
	    <img style="width: 80%; max-width: 700px; height: auto" src="https://alternative.me/crypto/fear-and-greed-index.png" alt="Latest Crypto Fear & Greed Index" />
    </center>
    <small>
        When everyone has panicked, It's generally an opportunity for buy, and when market is in greed and extreme greed mode you are adviced to close your long possitions.
    </small>
</div>
{% endblock %}
