{% extends "layout.html" %} {% load static %} {% block someheader %}


{% endblock %} {% block dbody %}

<!--<img src="https://alternative.me/crypto/fear-and-greed-index.png" alt="Latest Crypto Fear & Greed Index" />
<p>
    When everyone has panicked, It's generally an opportunity for buy, and when market is in greed and extreme greed mode you are adviced to close your long possitions.
</p>-->

<div class="container">
<div class="row clearfix">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="boxs project_widget">
                <div class="pw_img">
					<center>
                    <img src="{% static 'radarcxapp/img/signals/fund.jpg' %}" class="img-responsive" style="object-fit:contain;height:150px">
					</center>
				</div>
                <div class="pw_content">
                    <div class="pw_header">
                        <a class="text-muted" href="{% url 'fundamental' %}">Fundamental</a>
                    </div>
                    <div class="pw_meta">
                        <span>Macro and mirco economics metrics</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="boxs project_widget">
                <div class="pw_img">
					<center>
                        <img src="{% static 'radarcxapp/img/signals/tech.webp' %}" class="img-responsive" style="object-fit:contain;height:150px">
					</center>
				</div>
                <div class="pw_content">
                    <div class="pw_header">
                        <a class="text-muted" href="{% url 'technical' %}">Technical</a>
                    </div>
                    <div class="pw_meta">
                        <span>Price action + Pattern + indicators</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="boxs project_widget">
                 <div class="pw_img">
					<center>
                        <img src="{% static 'radarcxapp/img/signals/sentiment.png' %}" class="img-responsive" style="object-fit:contain;height:150px">
					</center>
				</div>
                <div class="pw_content">
                    <div class="pw_header">
                        <a class="text-muted" href="{% url 'sentiment' %}">Sentiment</a>
                    </div>
                    <div class="pw_meta">
                        <span>Market Fear and greed status</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="boxs project_widget">
                 <div class="pw_img">
					<center>
                        <img src="{% static 'radarcxapp/img/signals/over.jpg' %}" class="img-responsive" style="object-fit:contain;height:150px">
					</center>
				</div>
                <div class="pw_content">
                    <div class="pw_header">
                        <a class="text-muted" href="{% url 'overall' %}">Overall</a>
                    </div>
                    <div class="pw_meta">
                        <span>Conclusion of all aspects</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
