{% extends "layout.html" %} {% load static %} {% block someheader %}


{% endblock %} {% block dbody %}
<center style="width: 100%">
	<h1>
		<span class="badge badge-secondary bg-{{ color }}">{{ Current_day_tech_signal }}</span>
	</h1>
	<p>This signal has brought to you from our Naive AI system, Please do your own research as well.</p>
	<p>Range of value: Strong sell, sell , Neutral , Buy , Strong buy .</p>


	<p>Following widget shows how other websites' indicators think about BTC technical status:</p>
	<!-- TradingView Widget BEGIN -->
	<div class="embed-responsive-item">
		<div class="tradingview-widget-container__widget"></div>
		<div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/BTCUSDT/technicals/"
				rel="noopener" target="_blank"><span class="blue-text">Technical Analysis for BTCUSDT</span></a> by
			TradingView</div>
		<div>
			<iframe scrolling="yes" allowtransparency="true" frameborder="0"
				src="https://s.tradingview.com/embed-widget/technical-analysis/?#%7B%22interval%22%3A%221m%22%2C%22width%22%3A425%2C%22isTransparent%22%3Afalse%2C%22height%22%3A450%2C%22symbol%22%3A%22BTCUSDT%22%2C%22showIntervalTabs%22%3Atrue%2C%22utm_source%22%3A%22localhost%22%2C%22utm_medium%22%3A%22widget_new%22%2C%22utm_campaign%22%3A%22technical-analysis%22%7D"
				style="box-sizing: border-box; height: calc(418px); width: 98%; max-width: 480px"></iframe>
		</div>
		</script>
	</div>
	<!-- TradingView Widget END -->

	<p>Chart of cryptocurrencies and stocks</p>
</center>
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
	<div id="tradingview_ca35a"></div>
	<div id="tradingview_9d6ed-wrapper"
		style="position: relative;box-sizing: content-box;width: 99%;height: calc(610px - 32px);margin: 0 auto !important;padding: 0 !important;font-family:Arial,sans-serif;">
		<div style="width: 100%;height: calc(610px - 32px);background: transparent;padding: 0 !important;">
			<iframe id="tradingview_9d6ed"
				src="https://s.tradingview.com/widgetembed/?frameElementId=tradingview_9d6ed&amp;symbol=BINANCE%3ABTCUSDT&amp;interval=D&amp;hidesidetoolbar=0&amp;symboledit=1&amp;saveimage=1&amp;toolbarbg=f1f3f6&amp;studies=%5B%5D&amp;theme=light&amp;style=1&amp;timezone=Etc%2FUTC&amp;withdateranges=1&amp;studies_overrides=%7B%7D&amp;overrides=%7B%7D&amp;enabled_features=%5B%5D&amp;disabled_features=%5B%5D&amp;locale=en&amp;utm_source=localhost&amp;utm_medium=widget_new&amp;utm_campaign=chart&amp;utm_term=BINANCE%3ABTCUSDT"
				style="width: 100%; height: 100%; margin: 0 !important; padding: 0 !important;" frameborder="0"
				allowtransparency="true" scrolling="yes" allowfullscreen=""></iframe>
		</div>
	</div>
</div>
<!-- TradingView Widget END -->

{% endblock %}