{% extends "layout.html" %} {% load static %} {% block someheader %}


{% endblock %} {% block dbody %}
<center style="width: 100%">
	<h1> {{ Current_day_tech_signal }}</h1>
	<p>This signal has brought to you from our Naive AI system, Please do your own research as well.</p>
	<p>Range of value: Strong sell, sell , Neutral , Buy , Strong buy .</p>


	<p>Following widget shows how other websites' indicators think about BTC technical status:</p>
	<!-- TradingView Widget BEGIN -->
	<div class="embed-responsive-item">
	  <div class="tradingview-widget-container__widget"></div>
	  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/BTCUSDT/technicals/" rel="noopener" target="_blank"><span class="blue-text">Technical Analysis for BTCUSDT</span></a> by TradingView</div>
	  <div><style>
	</style>
	<iframe scrolling="no" allowtransparency="true" frameborder="0" src="https://s.tradingview.com/embed-widget/technical-analysis/?#%7B%22interval%22%3A%221m%22%2C%22width%22%3A425%2C%22isTransparent%22%3Afalse%2C%22height%22%3A450%2C%22symbol%22%3A%22NASDAQ%3AAAPL%22%2C%22showIntervalTabs%22%3Atrue%2C%22utm_source%22%3A%22localhost%22%2C%22utm_medium%22%3A%22widget_new%22%2C%22utm_campaign%22%3A%22technical-analysis%22%7D" style="box-sizing: border-box; height: calc(418px); width: 80%; max-width: 480px"></iframe></div>
	  </script>
	</div>
	<!-- TradingView Widget END -->

	<p>Chart of cryptocurrencies and stocks</p>
</center>
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div id="tradingview_ca35a"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/BTCUSDT/?exchange=BINANCE" rel="noopener" target="_blank"><span class="blue-text">BTCUSDT Chart</span></a> by TradingView</div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "width": 980,
  "height": 610,
  "symbol": "BINANCE:BTCUSDT",
  "interval": "D",
  "timezone": "Etc/UTC",
  "theme": "light",
  "style": "1",
  "locale": "en",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "withdateranges": true,
  "hide_side_toolbar": false,
  "allow_symbol_change": true,
  "container_id": "tradingview_ca35a"
}
  );
  </script>
</div>
<!-- TradingView Widget END -->

{% endblock %}
