{% extends "layout.html" %}

{% block title %} - Conditions{% endblock %}

{% block dbody %}

<nav class="navbar sticky-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Trader App</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="{% url 'coins' %}">Coins</a></li>
            <li class="active"><a href="{% url 'conditions' %}">Conditions</a></li>
            <li><a href="#">About</a></li>
			
			{% if user.is_authenticated %}

                <li><a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a></li>
            {% else %}
				<li><a href="{% url 'register' %}">register</a></li>
				<li><a href="{% url 'login' %}">sing in </a></li>
			{% endif %}
			
        </ul>
    </div>
</nav>

<div class="container">
  <form action="/new_cond" method="POST">{% csrf_token %}
    <label for="cond_name">Name (optional):</label>
    <input type="text" id="cond_name" name="cond_name">

    <br><br>

    <label for="cond_type">IF</label>
    <select id="cond_type" name="cond_type">
      <option value="realtime">Realtime Price</option>
      <option value="volume">Volume</option>
      <option value="maverage">Moving Average</option>
    </select>

    <label for="coin">FOR</label>
    <select id="coin" name="coin">
      <option value="BTC">BTC</option>
      <option value="XRP">XRP</option>
      <option value="LTC">LTC</option>
    </select>

    <label for="trigger">BECOMES</label>
    <select id="trigger" name="trigger">
      <option value="bigger-than">bigger than</option>
      <option value="smaller-than">smaller than</option>
      <option value="equal-to">equal to</option>
    </select>

    <input type="number" id="amount" name="amount">
    <label>$, NOTIFY ME!</label>

    <br>

    <input class="submit" type="submit" id="submit" value="Add condition">

  </form>
</div>
{% endblock %}